* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Metric', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

